{% load static %}
<style>
    html{
        color: white;
        background-color: #222034;
    }
</style>
<html>
    <head>
        <title>Dungreed.help</title>
        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css"> -->

    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Dungreed.help</a></h1>
        </div>
        <div class="list_dungreed.help">
            <div class="container">
                <ul>
                    <li class="guide">
                        <a href="/guide">가이드</a>
                    </li>
                    <li class="item_dictionary">
                        <a href="/item_dictionary">아이템 사전</a>
                    </li>
                    <li class="simulator">
                        <a href="/simulator">시뮬레이터</a>
                    </li>
                    <li class="dps_test">
                        <a href="/dps_test">DPS 테스트</a>
                    </li>
                    <li class="free_bulletin_board">
                        <a href="/free_bulletin_board">자유 게시판</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>