{% extends 'dungreed/base.html' %}

{% block content %}
    <div>
        <h1><a href="">dps_test</a></h1>
    </div>

    <div>
        <h2><a href="">item_list</a></h2>
        <p>zxcv</p>
    </div>

    <div>
        <h2><a href="{% url 'dps_test'%}">ppap</a></h2><!-- index는 view -->
        <p>ZXCV</p>
    </div>

    <form action="" method="get">
        <div><label for="n1">무기 최소 공격력 : </label>
        <input id="n1" type="text" name="1"></div>
        <div><label for="n2">무기 최대 공격력 : </label>
        <input id="n2" type="text" name="2"></div>
        <div><label for="n3">위력 : </label>
        <input id="n3" type="text" name="3"></div>
        <div><label for="n4">크리티컬 확률 : </label>
        <input id="n4" type="text" name="4"></div>
        <div><label for="n5">크리티컬 데미지 : </label>
        <input id="n5" type="text" name="5"></div>
        <div><label for="n6">고정 데미지 : </label>
        <input id="n6" type="text" name="6"></div>
        <div><label for="n7">공격 속도 : </label>
        <input id="n7" type="text" name="7"></div>
        <input type="submit" value="검색">
    </form>

    <div><p>DPS : {{q}}</p></div>
{% endblock %}