{% extends 'dungreed/base.html' %}
{% load staticfiles %}
{% load dict_value %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/item_css.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> <!-- slider -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> <!-- slider -->
<script src="{% static 'js/item_js.js' %}"></script>
<script>
$(document).ready(function() {
    var schv = 0;
    "{% for i in item %}"
    schv += 1;
    "{% endfor %}"
    $(".schv").text(schv);
    


    $(".item_element").css("display","inline-block");

    var filtervv = {"atkmin":[-1,-1,-1],"atkmax":[-1,-1,-1],"atkspd":[-1,-1,-1],"dps":[-1,-1,-1],"mgn":[-1,-1,-1],"search":[-1,-1,-1]};
    var ifft = {"atkmin":1,"atkmax":1,"atkspd":1,"dps":1,"mgn":1,"search":1};


    $(".search").keydown(function(key) {
        if (key.keyCode == 13) {
            var value = this.value;
            $(".search").val("");

            $filterwriter(value,"search");
            $filter();
        }
    });

    $(".reqbtn").click(function(){
        var value = $(".state").val();
        var tmp = $("."+$(".state").val()).text() + " " + parseFloat($("#ipt1").val()) + "~" + parseFloat($("#ipt2").val());
        

        $filterwriter(tmp,value);
        $filter();
    });

    $(document).on('click', 'div.nowfilter', function(e){
        var et = e.currentTarget.id;
        $('#'+et).detach();
        if(!$('.nowfilter').text()){
            $('.everyfilter').detach();
        }
        if(et.substring(2)=="search"){
            $('.searchv').text("");
        }
        filtervv[et.substring(2)] = [-1,-1,-1];
        ifft[et.substring(2)] = 1;
        $filter();
    });

    $(document).on('click', 'a.everyfilter', function(){
        $('.nowfilter').detach();
        if(!$('.nowfilter').text()){
            $('.everyfilter').detach();
        }
        filtervv = {"atkmin":[-1,-1,-1],"atkmax":[-1,-1,-1],"atkspd":[-1,-1,-1],"dps":[-1,-1,-1],"mgn":[-1,-1,-1],"search":[-1,-1,-1]};
        ifft = {"atkmin":1,"atkmax":1,"atkspd":1,"dps":1,"mgn":1,"search":1};
        $('.searchv').text("");
        $filter();
    });

    $filterwriter = function(tmpvalue,isnull) {
        if(tmpvalue == ""){
            $('#__'+isnull).detach();
            filtervv["search"] = [-1,-1,-1];
            ifft["search"] = 1;
            if(!$('.nowfilter').text()){
                $('.everyfilter').detach();
            }
            $('.searchv').text(tmpvalue);
        } else if(filtervv[isnull][2] == -1){
            if(isnull == "search"){
                filtervv["search"] = [tmpvalue,-1,tmpvalue];
                $('.searchv').text(tmpvalue);
            } else {
                filtervv[isnull] = [parseFloat($("#ipt1").val()), parseFloat($("#ipt2").val()), isnull];
            }
            var $div = $("<div id='__"+isnull+"' class='nowfilter' style='text-rendering: auto; word-break:break-all;  display: inline-flex; background-color: crimson; border-radius: 15px; padding:3px 10px;'>"+tmpvalue+"<div class='nowfilter' style='display: inline-block; color: #ffff00;'> ✕</div></div>");
            $('.filters').append($div);
            $('.everyfilter').detach();
            $div = $("<a class='everyfilter' style='background-color: yellow; border-radius: 15px; padding:3px 10px;'>모두 지우기 ✕</a>");
            $('.filters').append($div);

        } else {

            $('#__'+isnull).detach();
            
            if(isnull == "search"){
                filtervv["search"] = [tmpvalue,-1,tmpvalue];
                $('.searchv').text(tmpvalue);
            } else {
                filtervv[isnull] = [parseFloat($("#ipt1").val()), parseFloat($("#ipt2").val()), isnull];
            }

            var $div = $("<a id='__"+isnull+"' class='nowfilter' style='background-color: crimson; border-radius: 15px; padding:3px 10px;'>"+tmpvalue+"<span class='nowfilter' style='color: #ffff00;'> ✕</span></a>");
            $('.filters').append($div);
            $('.everyfilter').detach();
            $div = $("<a class='everyfilter' style='background-color: yellow; border-radius: 15px; padding:3px 10px;'>모두 지우기 ✕</a>");
            $('.filters').append($div);
        }
    }

    $filter = function() {
        schv = 0;
        "{% for i in item %}"
            if (filtervv["search"][0] != -1){
                ifft["search"] = $(".{{i.image_name}}").children().text().includes(filtervv["search"][0]) || $(".{{i.image_name}}").text().includes(filtervv["search"][0]);
            } if (filtervv["atkmin"][0] != -1){
                ifft["atkmin"] = filtervv["atkmin"][0] <= parseFloat($(".{{i.image_name}}atkmin").text()) && parseFloat($(".{{i.image_name}}atkmin").text()) <= filtervv["atkmin"][1];
            } if (filtervv["atkmax"][0] != -1){
                ifft["atkmax"] = filtervv["atkmax"][0] <= parseFloat($(".{{i.image_name}}atkmax").text()) && parseFloat($(".{{i.image_name}}atkmax").text()) <= filtervv["atkmax"][1];
            } if (filtervv["atkspd"][0] != -1){
                ifft["atkspd"] = filtervv["atkspd"][0] <= parseFloat($(".{{i.image_name}}atkspd").text()) && parseFloat($(".{{i.image_name}}atkspd").text()) <= filtervv["atkspd"][1];
            } if (filtervv["dps"][0] != -1){
                ifft["dps"] = filtervv["dps"][0] <= parseFloat($(".{{i.image_name}}dps").text()) && parseFloat($(".{{i.image_name}}dps").text()) <= filtervv["dps"][1];
            } if (filtervv["mgn"][0] != -1){
                ifft["mgn"] = filtervv["mgn"][0] <= parseFloat($(".{{i.image_name}}mgn").text()) && parseFloat($(".{{i.image_name}}mgn").text()) <= filtervv["mgn"][1];
            }

            if ( ifft["search"] && ifft["atkmin"] && ifft["atkmax"] && ifft["atkspd"] && ifft["dps"] && ifft["mgn"]){
                $(".{{i.image_name}}_choose").css("display","inline-block");
                schv += 1;
            } else {
                $(".{{i.image_name}}_choose").css("display","none");
            }
        "{% endfor %}"
        $(".schv").text(schv);
    }


});
</script>
    <div>   <!-- 타이틀 -->
        <h1>아이템 사전</h1>
    </div>

    <div class=item_filter> <!-- 아이템 필터 -->
        
        <div style="width: 55.5%; border: 5px solid #a97874;">
            <input class="search" style="width: 50px;" placeholder="검색"></input>

            <select class="state">
                <option disabled selected>능력치</option>
                <option value="atkmin" class="atkmin">최소 공격력</option>
                <option value="atkmax" class="atkmax">최대 공격력</option>
                <option value="atkspd" class="atkspd">초당 공격 횟수</option>
                <option value="dps" class="dps">방어력</option>
                <option value="mgn" class="mgn">탄창</option>
            </select>

            <input id="ipt1" style="width: 50px;"></input>
            <div id="slider"></div>
            <input id="ipt2" style="width: 50px;"></input>

            <button type="button" class="reqbtn" style="font-weight: bold;">✓✔</button>

            <div class="order_by" style="float:right;">
                <a>정렬 기준 : </a>
                <select class="stateb">
                    <option value="이름v">이름</option>
                </select>

                <button type="button" class="ordbtn" style="font-weight: bold;">△</button>
            </div>
        </div>

        <div style="width: 55.5%; height:30px; border: 5px solid #a97874; padding:8.5px 10px 0px 10px;">
            <div> <a class="schv"></a>개 찾음 |
                검색 조건: "<a class="searchv"></a>"
                <span class="filters">
                </span>
            </div>
        </div>
    </div>
    

    <div class=item_list> <!-- 좌측에 표시되는 아이템 목록 -->
        <div class=item_list_pd>
            {% for i in item %}
            <div align="center" class="item_element {{i.image_name}}_choose" style="display:none;">
                <div class={{i.image_name}}>
                    <img class={{i.image_name}} style="margin:0px 0px 15px 0px" src=\static\image\item\{{i.image_name}}.png width="100px" height="100px">
                    <p class={{i.image_name}} style="font-size: 13px;font-weight:bold;">{{ i.name }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <div class=item_detail><div class=pd1><div class=pd2><div class=pd3> <!-- 우측에 아이템에 대한 자세한 설명 -->
    {% for i in item %}
    <div class={{i.image_name}}_detail style="display:none;">
        <div align="center" class="item_name {{i.image_name}}"> <!-- 아이템 이름 -->
            {% if i.grade == '전설' %}<div class=color_legend>
            {% elif i.grade == '희귀' %}<div class=color_rare>
            {% elif i.grade == '고급' %}<div class=color_highclass>
            {% else %}<div>
            {% endif %}{{i.name}}</div>
        </div>
        <div>
            <div align="center" class=item_image><img src=\static\image\item\{{i.image_name}}.png width="100px" height="100px"></div> <!-- 아이템 이미지 -->
            <div class=item_state> <!-- 아이템 능력치 -->
                {% for j in jps.0|dvu:i.name %}
                    {% if jps.1|dvu:i.name|dvu:j == '공격력' %}
                    <a style="display: none;" class="{{i.image_name}}atkmin">{{jps.2|dvu:i.name|dvu:j|tildemin}}</a>
                    <a style="display: none;" class="{{i.image_name}}atkmax">{{jps.2|dvu:i.name|dvu:j|tildemax}}</a>
                    {% endif %}
                    {% if jps.1|dvu:i.name|dvu:j == '초당 공격 횟수' %}
                    <a style="display: none;" class="{{i.image_name}}atkspd">{{jps.2|dvu:i.name|dvu:j}}</a>
                    {% endif %}
                    {{jps.1|dvu:i.name|dvu:j}} : <div style="display:inline-block;" class=color_yellow>{{jps.2|dvu:i.name|dvu:j}}</div><br>
                {% endfor %}
                {% if jps.0|dvu:i.name|length < 1 %}<br><br><br><br>
                {% elif jps.0|dvu:i.name|length < 2 %}<br><br><br>
                {% elif jps.0|dvu:i.name|length < 3 %}<br><br>
                {% elif jps.0|dvu:i.name|length < 4 %}<br>
                {% endif %}
            </div>
        </div>
        <div class=item_states>
            <div class="item_option {{i.image_name}}"> <!-- 아이템 특수 옵션 -->
                {% for j in jpo.0|dvu:i.name %}
                    {% for x in jpo.2|dvu:i.name|dvu:j|rd %}
                        {% if jpo.2|dvu:i.name|dvu:j|cf == '초록' %}
                            <p>▶ <span class=color_green>{{jpo.1|dvu:i.name|dvu:j}}</span></p>
                        {% elif jpo.2|dvu:i.name|dvu:j|cf == '빨강' %}
                            <p>▶ <span class=color_red>{{jpo.1|dvu:i.name|dvu:j}}</span></p>
                        {% elif jpo.2|dvu:i.name|dvu:j|cf == '주황' %}
                            <p>▶ <span class=color_orange>{{jpo.1|dvu:i.name|dvu:j}}</span></p>
                        {% elif jpo.2|dvu:i.name|dvu:j|cf == '보라' %}
                            <p>▶ <span class=color_purple>{{jpo.1|dvu:i.name|dvu:j}}</span></p>
                        {% elif jpo.2|dvu:i.name|dvu:j|cf == '파랑' %}
                            <p>▶ <span class=color_blue>{{jpo.1|dvu:i.name|dvu:j}}</span></p>
                        {% elif jpo.2|dvu:i.name|dvu:j|cf == '노랑' %}
                            <p>▶ <span class=color_yellow>{{jpo.1|dvu:i.name|dvu:j}}</span></p>
                        {% elif jpo.2|dvu:i.name|dvu:j|aom == '+' %}
                            <p>▶ <span class=color_green>{{jpo.2|dvu:i.name|dvu:j}}</span> {{jpo.1|dvu:i.name|dvu:j}}</p>
                        {% elif jpo.2|dvu:i.name|dvu:j|aom == '-' %}
                            <p>▶ <span class=color_red>{{jpo.2|dvu:i.name|dvu:j}}</span> {{jpo.1|dvu:i.name|dvu:j}}</p>
                        {% else %}
                            <p>▶ {{jpo.2|dvu:i.name|dvu:j}} {{jpo.1|dvu:i.name|dvu:j}}</p>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="color_nature {{i.image_name}}">
                <p>{{i.grade}} 아이템</p> <!-- 아이템 등급 -->
                <p>{{i.use}} <{{i.nature}}></p> <!-- 아이템 사용방식, 아이템 성격 -->
            </div>
            <p class="color_data">"{{i.data}}"</p> <!-- 아이템 설명 -->
            <p class="color_tag {{i.image_name}}">{{i.tag}}</p> <!-- 아이템 태그 -->
            <p class=color_group>{{i.group}}</p>
        </div>
    </div>
    {% endfor %}
    </div></div></div></div>
{% endblock %}