body{
    min-height: 1350px;
}
p {
    margin: 0px;
}

/* .item_filter {
    width: 100%;
    height: 50px;
    background-color: red;
} */
#slider {
    display: inline-block;
    margin: 0px 20px;
    width: 200px;
}


.item_list_pd {border: 5px solid #2b2639;}
.item_list {
    width: 55.5%;
    height: 99%; /* 이거 사용하면 아이템에 맞게 화면 조정이 되지 않아. */
    box-sizing: content-box;
    border: 5px solid #654a59;
    display: inline-block;
    background-color:#332b3e;
}
.item_element {
    cursor: pointer;
    width: 131px;
    height: 136px;
    margin: 5.5px 0.3px;
    padding: 12.9px 0px 0px 0.7px;
    display: inline-block;
    color: white;
    background-image: url("/static/image/html_img/item_element_bg.png");
}
.item_element_choose {
    background-image: url("/static/image/html_img/item_element_choose_bg.png");
}
.pd1, .pd2, .pd3 {height:98.53%;}
.pd1 {border: 5px solid #654a59;}
.pd2 {border: 5px solid #222034;}
.pd3 {border: 5px solid #a97874;}
.item_detail {
    position: absolute;
    top: 265.2px;
    right: 50%;
    width: 542.4px;
    height: 676.8px;
    margin-right: -696.8px;
    background-color: #332b3e;
}
.scroll {
    position: fixed;
    top: 57.2px;
    background-color: #332b3e;
}
.item_name {
    height: 59.35px;
    margin: 14.9px 14.9px 0px 14.9px;
    padding: 5px 0px 0px 0px;
    font-size: 38.1px;
    background-image: url("/static/image/html_img/item_name_bg.png");
}
.item_image {
    width: 131px;
    height: 112px;
    margin: 5px 0px 5px 10.9px;
    padding: 12.9px 0px 0px 0.7px;
    display: inline-block;
    background-image: url("/static/image/html_img/item_image_bg.png");
}
.item_state {
    position: relative;
    top: -8.5px;
    left: -3px; 
    width: 337px;
    height: 109.5px;
    padding: 15.5px 0px 0px 15.5px;
    font-size: 18px;
    display: inline-block;
    background-image: url("/static/image/html_img/item_state_bg.png");
}
.item_states {
    position: relative;
    top: -8.5px;
    width: 453.5px;
    height: 392.5px;
    margin: 0px 0px 0px 14.09px;
    padding: 15.5px;
    font-size: 20px;
    display: inline-block;
    background-image: url("/static/image/html_img/item_states_bg.png");
}
.color_legend {color: #ff008e;}
.color_rare {color: #ffd200;}
.color_highclass {color: #2b7bff;}
.color_green {color: #00ff00;}
.color_red {color: #ff0000;}
.color_orange {color: #ff8429;}
.color_purple {color: #a54bff;}
.color_blue {color: #477eff;}
.color_yellow {color: #ffff00;}
.color_nature {color: #b4b4b4;}
.color_data {color: #caffff;}
.color_tag {color: #9fda88;}
.color_group {}